header.header
	.container
		.row
			.header__top.d-flex.flex-row.justify-content-between
				img(src='img/svg/logo.svg')
				.header__login
					span.header__login-text Имя Фамилия
		.row
			.header__bottom
				ul.breadcrumbs
					li.breadcrumbs__item Сотрудники
					li.breadcrumbs__item Виктория Беляева, belyaeva@companyname
