.employee {
	&__fio-box {
		// width: 350px;
	}



	&__title {
		font-size: 16px;
	}
	&__full-info {
		padding-left: 22px;
		border-bottom: 1px solid #E4E4E4;
		margin-bottom: 30px;
		padding-bottom: 40px;

	}

	&__full-name {
		font-size:24px;
		position: relative;
	}

	&__full-name::after {
		position: absolute;
		content: "";
		width: 16px;
		height: 11px;
		background-image: url("../../img/svg/eye.svg");
		display: block;
		right: -25px;
		top: 5px;
	}


	&__fio-box-info {
		margin-left: 16px;
	}

	&__position {
		font-size: 12px;
	}


	&__anomalies {
		margin-bottom: 70px;
	}

	&__anomalies-box {
		border: 1px solid #EE144E;
		//width: 400px;
		height: 70px;

		font-size: 13px;
		display:flex;
		justify-content: center;
		align-items: center;
	}

	&__anomalies-box:not(:last-child){
		margin-right: 5px;
	}

	&__main-data {
		height:200px;
		background-color: #F3F2F2;
	}
}


@media (max-width: 1000px) {
	.employee {
		&__anomalies-box {
			width: 100%;
			flex-direction: column;
		}
	}
}
