.employee__panel
	.employee__full-info.d-flex.align-items-end
		.employee__fio-box.d-flex
			.employee__photo
				img(src="img/photo.png")
			.employee__fio-box-info
				.employee__full-name Виктория Беляева
				.employee__position Менеджер
		.scope-box
			.scope-box__text Уровень риска
			.scope-box__scope 157
		.scope-box
			.scope-box__text Продуктивность
			.scope-box__scope 157
		.scope-box
			.scope-box__text Индекс активности
			.scope-box__scope 157
		.scope-box.d-flex.align-items-center
			.scope-box__icon
				img(src="img/svg/checkbox.svg")
			.scope-box__icon
				img(src="img/svg/cam.svg")
			.scope-box__icon
				img(src="img/svg/desktop.svg")
			.scope-box__icon
				img(src="img/svg/lines.svg")
	.employee__anomalies
		h2.employee__title Аномалии
		.d-flex.mt-3
			.employee__anomalies-box Использование 2 месснджеров
			.employee__anomalies-box Много устройств
			.employee__anomalies-box Редко на связи
	.employee__main-indicators
		h2.employee__title Основные показатели
		.employee__main-data.mt-3
		.indicators-box
			h3.indicators-box__title
			table.table
				thead
					tr
						th Категории приложений
						th Время
						th %
						th Рост
				tr
					td Месснджеры
					td 20:55
					td 18%
					td +8%
				tr
					td Браузеры
					td 15:11
					td 6
					td +7%
				tr
					td Игры
					td 13:11
					td 7
					td +3%
