.quick-search {
	border: none;
	outline: none;
	height: 22px;
	padding-left: 30px;
	background-image: url('../img/svg/search.svg');
	background-color: #F9F8F6;
	background-position: 15px 5px;
	background-repeat: no-repeat;
}

.quick-search::before {
	content: "";
	width: 12px;
	height: 12px;
	display:block;
	position: absolute;
	background-image: url('../img/svg/search.svg');

}


