main
	.container
		.row
			.col-2
				input(type="text")
				.row
					.employees__box
						.employee__short-tab
							.employee__img
							.employee__name Анна Иванова
							.employee__position Менеджер
							.employee__status На увольнении
							.employee__scope 12
				.row
					.employees__box
						.employee__short-tab
							.employee__img
							.employee__name Виктория Беляева
							.employee__position Менеджер
							.employee__status В отпуске
							.employee__scope 247
			.col-10.pt-3
				include ../../components/employee/employee




