input(type="text")
.row
	.employees__box
		.employees__short-tab
			.employees__img
			.employees__name Анна Иванова
			.employees__position Менеджер
			.employees__status На увольнении
			.employees__scope 12
.row
	.employees__box
		.employees__short-tab
			.employees__img
			.employees__name Виктория Беляева
			.employees__position Менеджер
			.employees__status В отпуске
			.employees__scope 247
